h1 {
    font-size: 70px;

}

header {
    font-family:poppins ;
    padding-top: 15px;
    padding-bottom: 27px;
    position: relative;
    z-index: 99;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}

body{
    background-color: gray;
}

figure {


    padding: 10px;
    max-width: 30%;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 90%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/*------------------
  Footer section
---------------------*/

.footer-section {
    background: #212121;
    padding: 19px 40px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 0;
}

.footer-social-links {
    text-align: right;
}

.footer-social-links a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-left: 40px;
}